#main{
    border: 1px solid red;
    background: yellow;
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.btn{
    background: green;
}